@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
      margin:0;
      font-family: 'Open Sans', sans-serif;
}

.main {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
}

.logo img {
      height:60px;
      width:auto;
      display:inline-block;
}

.logoContainer {
      display: flex;
      align-items: center;
}

.logoText {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00ac76;
  padding: 0 5%; /* Adjusted padding */
  margin: 0; /* Reset margin */
  box-sizing: border-box; /* Include padding in the total width */
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
  transition:ease-in 0.3s;
}

.container {
  position: relative;
  display: inline-block;
}

.logo {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlayImage {
  max-width: 80%;
  max-height: 80%;
  cursor: pointer;
}

.overlayImage:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 400px) {
  .header {
    padding: 0 5%; /* Adjust as needed */
  }

  .header li {
    margin-left: 1rem; /* Adjust as needed */
  }

  .logo {
    font-size: 1rem; /* Adjust as needed */
  }
}